{% if takeover.report_status != "removed" %}
  {% if auth_profile %}
    <button class="text-button message-report-button" type="button" data-open-dialog="{{ dialog_prefix }}{{ takeover.public_id }}">Report message</button>
  {% elif auth_modal_enabled %}
    <button class="text-button message-report-button" type="button" data-open-dialog="auth-modal" data-auth-title="Sign in to report this message." data-auth-intro="You need to be signed in to report a public board message.">Report message</button>
  {% else %}
    <a class="text-button message-report-button" href="{% url 'accounts:login' %}">Report message</a>
  {% endif %}
{% endif %}
